<!DOCTYPE html>
<html>

  <head>
    <title>Request Header Parser | Free Code Camp</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div class="container">
      <h1>API Basejump: Request Header Parser</h1>
      <p>User Story: I can get the IP address, language and operating system for my browser.</p>
      <h3><a href="https://header-parser-gmojo.glitch.me/api/whoami">Get results</a></h3>
      <h3>Example output:</h3>
      <code>
        {"ipaddress":"100.250.250.81","language":"en-GB","software":"Windows NT 6.1; Win64; x64"}
      </code>
    </div>
     
    <footer>
      <hr>
      <p>Completed as part of FreeCodeCamp challenges. See more projects in my <a href="https://garethmoger.com" target="_blank">portfolio</a></p>
        <ul class="social_list">
          <li><a href="https://github.com/gmojo/"><span class="fa fa-github"></span></a></li>
          <li><a href="https://www.linkedin.com/in/garethmoger/"><span class="fa fa-linkedin-square"></span></a></li>
          <li><a href="https://codepen.io/gmojo/"><span class="fa fa-codepen"></span></a></li>
        </ul>
    </footer>
  </body>

</html>